@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
    /* font-family: 'Helvetica', sans-serif; */
    /* font-family: 'Helvetica', system-ui, -apple-system, BlinkMacSystemFont, Roboto, Futura, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif sans-serif; */
    line-height: 1.5;
    font-weight: 200;
  
    /* color-scheme: light dark; */
    /* color: rgba(255, 255, 255, 0.87); */
    /* background-color: #242424; */
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

  }


a {
  color: goldenrod;
}

section {
  font-family: 'Futura', 'Helvetica', sans-serif;
}
 
a:hover {
  color: #535bf2;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  min-height: 90%;
  padding: 5vh 5vw;
}


body {
  margin: 0;
  font-family: 'Helvetica', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif sans-serif;
  /* font-variant: small-caps; */
  /* font-weight: 200; */
  color: white;
  background: #202731;
  /* font-size: 52px; */
  /* line-height: 1.3em/68px; */
  /* min-width: 320px;
  min-height: 100vh; */
}

/* canvas {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: block;
  z-index: -9999;
} */
main {
  position: absolute;
}

/* .layer2 {
  background-image: url('./assets/layer2.svg');
} */


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  font-style: italic;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

.dropdown {
  position: relative;
  z-index: 1;
}

.dropdown-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f5f5f5;
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid #ccc;
  z-index: 1;
  /* Add desired styling for the dropdown menu */
}

.dropdown-list li {
  padding: 10px;
  display: block;
  white-space: nowrap;
}

.dropdown-list li:hover {
  background-color: #f5f5f5;
  
}

.card {
  padding: 2em;
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: center ;
}

#image-track {
  display: flex;
  gap: 4vmin;
  /* position: absolute; */
  left: 50%;
  top: 50%;
  transform: translate(50%, -50%);
}

h1 {
  /* line-height: 1.5; */
  font-family: 'Helvetica', sans-serif;
  /* font-weight: 700; */
  /* font-variant: small-caps; */
  color: #FFFFFF;
}

h2 {
  font-family: 'Helvetica', sans-serif;
  color: #FFFFFF;
}

h3 {
  font-family: 'Helvetica', sans-serif;
  color: #FFFFFF;
}

h4 {
  font-family: 'Helvetica', sans-serif;
  line-height: 0%;
  /* font-family: 'JetBrains Mono', monospace; */
  color: #FFFFFF;
}

p {
  font-family: 'Futura', 'Helvetica', sans-serif;
  color: #FFFFFF;
}

.underline {
  text-decoration: underline;
}

.boxtext {
  text-decoration: underline overline;
}

.shaded-background {
    background-color: #0f1112CC;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 4fr 3fr;
    margin: 5% 0%;
    align-content: left;
}

.shaded-background-no-pic {
    background-color: #0f1112CC;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 5% 0%;
    align-content: left;
}

b {
    color: #00FFFF;
}
.shaded-background-alt {
    background-color: #0f1112CC;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 3fr 4fr;
    margin: 5% 0%;
    align-content: left;
}

.shaded-background h1 {
    line-height: 0.0;
}

.shaded-background-alt h1 {
    line-height: 0.0;
}

/* .shaded-background {
    background-color: #0f1112CC;
    border-radius: 2%;
    display: grid;
    grid-template-columns: 4fr 3fr;
    margin: 5% 0%;
    align-content: left;
}

b {
    color: #00FFFF;
} */

/* .shaded-background-alt {
    background-color: #0f1112CC;
    border-radius: 2%;
    display: grid;
    grid-template-columns: 3fr 4fr;
    margin: 5% 0%;
    align-content: left;
} */
/* .image-reel {
    margin: 5%;
    align-content: center;
} */

/* .description {
    margin: 5%;
    display: flex;
    flex-direction: column;
} */
/* 
.image-reel img {
        width: 100%;
        object-fit: contain;
        aspect-ratio: 1;
        border-radius: 5%;
    } */

/* @media (max-width: 60em){
    .shaded-background {
        display: flex;
        flex-direction: column-reverse;
    }
    .shaded-background-alt{
        display: flex;
        flex-direction: column;
    }
} */



/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */
/* button:hover {
  border-color: #646cff;
} */
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */